<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/reg.css"/>
</head>
<body>
<div  class="wrapper">
    <h1>Вход</h1>
<form action="/procces_login" method="post">
        <input type="text" name="username" id="username" placeholder="username"/>
        <input type="password" name="password" id="password" placeholder="password"/>
    <button type="submit">Войти</button>
    <div class="member">
        Нет аккаунта? <a href="/registration">Зарегистрируйтесь здесь</a>
    </div>

</form>
</div>
</body>
</html>