






<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"  lang="ru">
<head>
    <title>Login and Sign Up form</title>

    <link rel="stylesheet" href="/css/reg.css"/>
</head>
<body>
    <div class="wrapper">
        <h1>Регистрация </h1>
        <form th:action="@{/registration}" method="post" th:object="${user}">
            <input type="text" id="username" name="username" placeholder="username" th:field="*{username}" required>
            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
            <input type="text" id="firstName" name="firstName" placeholder="firstName" th:field="*{firstname}" required>
            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{firstname}">Username Error</div>
            <input type="text" id="lastname" name="lastname" placeholder="lastName" th:field="*{lastname}" required>
            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
            <input type="password" id="password" name="password" placeholder="password" th:field="*{password}" required>
            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
            <button type="submit">Зарегистрироваться</button>
        </form>

        <div class="member">
        Есть аккаунт? <a href="/auth/login">
            Войдите здесь
        </a>
        </div>
    </div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html >-->
<!--<head>-->
<!--    <title>Регистрация</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Регистрация</h1>-->
<!--<form  th:action="@{/registration}" method="post" th:object="${user}">-->
<!--    <div>-->
<!--        <label for="username">Имя пользователя:</label>-->
<!--        <input type="text" id="username"  name="username" th:field="*{username}" required>-->
<!--        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error-->
<!--        </div>-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div>-->
<!--        <label for="password">Пароль:</label>-->
<!--        <input type="password" id="password" name="password" th:field="*{password}" required>-->
<!--        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Username Error-->
<!--        </div>-->
<!--    </div>-->
<!--        <button type="submit">Зарегистрироваться</button>-->
<!--    <a href="/auth/login">Войти</a>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->



